html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

html{
  background-color: rgb(42, 42, 42);
}

canvas {
  width: 100% !important;
}

.logo {
  color:aquamarine; 
  text-decoration: none;
  font-weight: 400;
  font-size: 1.5em;
  margin: 0.5em;
  position: fixed;
  top: 0;
}

.menu-container{
  display: flex;
  height: 1200px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.link-menu {
  color:aquamarine; 
  text-decoration: none;
  font-weight: 400;
  font-size: 1.5em;
  margin: 0.5em;
}

.page-title-font {
  color:aquamarine; 
  font-weight: 400;
  font-size: 2em;
  margin: 0.5em;
  text-align: center;
}

#card {
  position: absolute;
  width: 50%;
  display: none;
  margin-left: 25%;
  margin-right: 25%;
  transform: translateY(70%);
}

.close-btn {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  font-size: 2em;
  color:rgb(255, 255, 255);
  background-color:rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.close-btn:hover {
  opacity: 0.5;
}

.close-btn:active {
  opacity: 1;
}

.card {
  display: flex;
  background-color:rgba(0, 0, 0, 0.6);
  padding: 2em;
  border-radius: 1em;
}

.card img {
  width: 50%;
  height: auto;
}

.card-content {
  margin: 3em;
}

.card-content h2 {
  color:aquamarine; 
  font-weight: 400;
  font-size: 3em;
}

.card-content p {
  color:rgb(255, 255, 255); 
  font-weight: 400;
  font-size: 1.5em;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.project {
  height: 800px;
  background-color: rgba(0, 0, 0, 0);
  margin: 1em;
  padding-top: 2em;
  color:rgb(255, 255, 255);
  font-size: 2em;
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s ease-out;
}

.project.fade-in{
  opacity: 1;
  transform: translateY(0px);
}

.container {
  margin-top: 1.5em;
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  z-index: 20;
  background-color:rgba(0, 0, 0, 1)
}

.element{
  opacity: 0;
}

#red{
  background-color: red;
  display: list-item;
}

#yellow{
  display: list-item;
  background-color: yellow;
}

#green{
  display: list-item;
  background-color: green;
}

.lottieBG{
  position: absolute;
  top: 0;
  width: 50%;
  z-index: -1;
  display: flex;
}

.videoPlayer{
  width: 80%;
  height: auto;
  padding-left: 10%;
  padding-right: 10%;
}

.podcastIMG{
  width: 60%;
  height: auto;
  padding-left: 20%;
  padding-right: 20%;
}

.play-btn{
  position: absolute;
  top: 35%;
  right: 50%;
}