html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

html{
  background-color: rgb(46, 46, 81);
}

::-webkit-scrollbar {
  width: 10px; 
  background-color: rgba(70,70,70,1);
}

.none::-webkit-scrollbar {
  width: 0px; 
  background-color: rgba(70,70,70,1);
}

::-webkit-scrollbar:hover {
  background-color: rgba(70,70,70,1);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(110,110,110,1);
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,1);
}

.logo {
  text-decoration: none;
  position: fixed;
  margin: 2em;
  top: 0;
  z-index: 100;
  width: 17em;
  height: auto;
}

.logo img{
  width: 100%;
}

.consul {
  text-decoration: none;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 13em;
  margin-right: 1em;
  margin-top: 0.25em;
  height: auto;
  right: 0;
  transform:translate(-20%,20%);
  animation: float3 4s ease-in-out infinite;

}

.consul img{
  width: 100%;
}

.logo-home{
  width: 30em;
}

.logo-container-center {
  display: flex;
  justify-content: center;
  height: 44em;
}

.introLogo{
  top: 0; 
  position: absolute;
  transform: scale(0.25) translateY(-50%)

}

.menu-container{
  position: absolute;
  display: flex;
  top: 40%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.link-menu {
  font-family: 'Montserrat', sans-serif;
  color:rgb(112, 255, 213); 
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2em;
  margin: 0.5em;
}

.link-menu img {
  margin: 2em;
  width: 80%;
}

.subtitle{
  font-family: 'Montserrat', sans-serif;
  color:rgb(255, 255, 255); 
  text-decoration: none;
  font-weight: 700;
  font-size: 0.7em;
  margin: 0.5em;
}

.page-title-font {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  color:#cafe9b; 
  font-weight: 400;
  font-size: 1.5em;
  margin: 0.5em;
  text-align: center;
  margin-top: 1.75em;
  margin-bottom: 0em;
}

.page-subtitle-font {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.08em;
  color:#cafe9b; 
  font-weight: 700;
  font-size: 1.2em;
  margin: 0.5em;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 3em;
}

.down-arrow{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.12em;
  color:#cafe9b; 
  font-weight: 400;
  font-size: 3.8em;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 2.5em;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  animation: pulse 1s ease-in-out infinite;
}

.card-container {
  position: fixed;
  max-width: 70%;
  min-width: 1000px;
  display: none;
  height: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 450px;
}

@keyframes gradientAnim1 {
  0% {
    transform:  translateX(85%) translateY(45%) scale(1.2);
 }
  50% {
    transform:  translateX(80%) translateY(50%) scale(1);
 }
  100% {
    transform:  translateX(85%) translateY(45%) scale(1.2);
 }
}

@keyframes gradientAnim2 {
  0% {
    transform: translateX(-75%) translateY(0%) scale(1.1);
 }
  50% {
    transform: translateX(-70%) translateY(10%) scale(1.2);
 }
  100% {
    transform: translateX(-75%) translateY(0%) scale(1.1);
 }
}

@keyframes gradientAnim3 {
  0% {
    transform:  translateX(75%) translateY(45%) scale(1.4);
 }
  50% {
    transform:  translateX(70%) translateY(50%) scale(1.5);
 }
  100% {
    transform:  translateX(75%) translateY(45%) scale(1.4);
 }
}

@keyframes gradientAnim4 {
  0% {
    transform: translateX(-115%) translateY(0%) scale(1.3);
 }
  50% {
    transform: translateX(-110%) translateY(10%) scale(1.4);
 }
  100% {
    transform: translateX(-115%) translateY(0%) scale(1.3);
 }
}

.gradient{
  position: fixed;
  z-index: -10;
  opacity: 1;
  transform: translateX(80%) translateY(50%) scale(1);
  animation: gradientAnim1 10s ease-in-out infinite;
}

.gradient2{
  position: fixed;
  z-index: -1;
  opacity: 1;
  transform: translateX(-75%) translateY(0%) scale(1.1);
  animation: gradientAnim2 10s ease-in-out infinite;
}

.gradient3{
  position: fixed;
  z-index: -10;
  opacity: 1;
  transform: translateX(80%) translateY(50%) scale(1);
  animation: gradientAnim3 10s ease-in-out infinite;
}

.gradient4{
  position: fixed;
  z-index: -1;
  opacity: 1;
  transform: translateX(-85%) translateY(0%) scale(1.1);
  animation: gradientAnim4 10s ease-in-out infinite;
}

#toggleBtn{
  color:#cafe9b;
  right: 1.5em;
  top: 1em;
  font-size: 1.2em;
  font-weight: 700;
  background-color:rgba(0, 0, 0, 0);
  border-color: #cafe9b;
  font-family: 'Montserrat', sans-serif;
  padding: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 1em;
  cursor: pointer;
  z-index: 200;
  background: transparent;
  border-style: solid;
  box-shadow: 5px 5px 20px #00000070;
  text-shadow:rgba(0, 0, 0, 0.2);
  margin-top: 2em;;
}

#toggleBtn:hover{
  opacity: 0.7;
}

#toggleBtn:active{
  opacity: 1;
}

.photosphere{
  overflow-y: hidden !important;
  background-image: linear-gradient(rgba(0, 0, 0,0.5),rgba(0, 0, 0,0));
}

.para-unveil{
  height: 35em;
}

.para-unveil img {
  transform: translateX(-50%);
  width: 800px;
  position: absolute;
  border-radius: 2em;
}

.icon-360{
  position: absolute;
  transform: translate(950%, -75%);
  width: 5%;
  opacity: 0.9;
  pointer-events: none;
  bottom: 0;
}

.showCard{
  display: flex !important;
}

.home-vid-container{
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  display: flex;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color:rgba(0, 0, 0, 1);
  justify-content: center;
}

#mainVid {
  top: 0;
  width: auto;
  height: 100%;
}

.skip{
  position: absolute;
  top: 0;
  right: 0;
  margin: 2em;
  font-family: 'Montserrat', sans-serif;
  color:rgb(112, 255, 213); 
  font-size: 1.5em;
  padding: 0.4em;
  border-radius: 0.5em;
  font-weight: 500;
  background: transparent;
  border-color: rgb(112, 255, 213);
  cursor: pointer;
}

.skip:hover{
  opacity: 0.5;
}

.skip:active{
  opacity: 1;
}

.close-btn {
  color:rgb(112, 255, 213); 
  position: absolute;
  right: 1.5em;
  top: 1em;
  font-size: 2.5em;
  background-color:rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  transform: scaleX(1.2);
}

.image-gallery-icon{
  color:rgb(12, 255, 213) !important;
  transition: all 0.2s !important;
  transform: scale(0.75) translateY(-66%) !important;
}

.image-gallery-icon:hover{
  color:rgb(121, 255, 233) !important;
  transform: scale(0.75) translateY(-66%) !important;
  transition: all 0.2s !important;
}

.close-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.close-btn:active {
  opacity: 1;
}

.card {
  display: flex;
  background-color:rgba(46, 46, 81, 0.8);
  padding: 2em;
  padding-top: 6em;
  padding-bottom: 6em;
  border-radius: 1em;
  box-shadow: 5px 5px 20px #00000070;
}

.card img {
  height: auto;
  box-shadow: 5px 5px 20px #00000040;
}

.image-gallery{
  width: 160%;
  transform: translateX(-20%);
  overflow: hidden;
  max-height: 100%;
  display: flex;
  align-items: center;
}

.card-content {
  margin: 3em;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 5em;
  max-width: 50%;
}



.card-content h2 {
  font-family: 'Montserrat', sans-serif;
  color:rgb(112, 255, 213); 
  font-weight: 700;
  font-size: 2em;
  padding-bottom: 0.5em
}

.card-content p {
  font-family: 'Montserrat', sans-serif;
  color:rgb(255, 255, 255); 
  font-weight: 400;
  font-size: 1em;
  max-width: 100%;
  margin: 0!important;
  overflow-y: scroll;
  height: 100%;
  padding-right: 1.5em;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1em;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.project {
  height: 500px;
  background-color: rgba(0, 0, 0, 0);
  margin: 1em;
  padding-top: 2em;
  padding-bottom: 10em;
  color:rgb(255, 255, 255);
  font-size: 2em;
  opacity: 1;
  transform: translateY(0px);
  transition: all 1s ease-out;
}

.project.fade-in{
  opacity: 1;
  transform: translateY(0px);
}

.container {
  position: fixed;
  width: 100%;
  height: auto;
  display: grid;
  z-index: 20;
  background-color:rgba(0, 0, 0, 0)
}

.element{
  opacity: 0;
}

#red{
  background-color: blue;
  display: list-item;
}

#yellow{
  display: list-item;
  background-color: white;
}

#green{
  display: list-item;
  background-color: red;
}

.lottieBG{
  position: absolute;
  top: 25%;
  width: 100%;
  z-index: -1;
  display: flex;
}

.videoPlayer{
  height: 100%;
  box-shadow: 5px 5px 20px #00000070;
}

.videoPlayerInterview{
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.video-container{
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-content: center;
}

.pod-container{
  display: flex;
  align-items: center;    
  justify-content: center;
  flex-direction: column;
}

.pod-container .pod-img{
  width: 60%;
  height: auto;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 5px 5px 20px #00000070;
  border-radius: 1em;
}

.pod-bg{
  position: absolute;
  width: 50%;
  justify-content: center !important;
  display: flex;
  box-shadow: 5px 5px 20px #00000070;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1em;
  height: 40%;
  margin-left: 25%;
  margin-right: 25%;
}

.video-btns{
  position: absolute;
  width: 100%;
  justify-content: center;
  display: flex;
  height: 100%;
  border: none;
  z-index: 2;
}

.video-btns button {
  background-color: transparent;
  border: transparent;
  transform: scale(25%);
  cursor: pointer;
}

@keyframes float1 {
  0% {
    transform: translatey(10px);
 }
  50% {
    transform: translatey(-10px);
 }
  100% {
    transform: translatey(10px);
 }
}

@keyframes float2 {
  0% {
    transform: translatey(-10px);
  }
  50% {
    transform: translatey(10px);
 }
  100% {
    transform: translatey(-10px);
 }
}

@keyframes float3 {
  0% {
    transform: translatey(-25px) scale(1.5);
  }
  50% {
    transform: translatey(-22px) scale(1.6);
 }
  100% {
    transform: translatey(-25px) scale(1.5);
 }
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
 }
  50% {
    transform: scale(1);
 }
  100% {
    transform: scale(0.8);
 }
}

#map-link{
  animation: float1 6s ease-in-out infinite;
}

#suivre-link{
  animation: float2 6s ease-in-out infinite;
}

#photo-link{
  animation: float2 5s ease-in-out infinite;
}

#pod-link{
  animation: float2 6s ease-in-out infinite;
}

#inter-link{
  animation: float1 5s ease-in-out infinite;
}

#para-link{
  animation: float2 5s ease-in-out infinite;
}

#canvas{
  display: flex;
  box-shadow: 5px 5px 20px #00000070;
  position:absolute;
  top: 0;
  z-index: -1
}

canvas{
  width: 100% !important;
}

footer{
  padding-top: 6em;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
  bottom: 0;
  pointer-events: none;
  position: fixed;
  width: 100%;
}

footer p {
  font-family: 'Montserrat', sans-serif;
  color:rgb(255, 255, 255); 
  font-weight: 400;
  font-size: 1em;
  z-index: -2;
  font-weight: 500;
  text-shadow: 3px 3px 3px black;
}

.map-text-container{
  display: flex;
  align-items: center;
  flex-direction:column;
  min-width: 25%;
  align-content: center;
}

.date{
  font-family: 'Montserrat', sans-serif;
  color:#cafe9b;
  font-weight: 700;
  font-size: 1.5em;
}

.map-title{
  font-family: 'Montserrat', sans-serif;
  color:rgb(255, 255, 255);
  font-weight: 400;
}

.map-el{
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  opacity: 0;
  transform: translateY(38rem) translateX(3rem);
}

.map-container{
  display: flex;
  margin-left: 0%;
  flex-direction: column;
  margin-right: 0%;
}

.map-img-container{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.map-img-container img{
  position: absolute; 
  width: 800px;
}

.map-img{
  position: absolute;
  width: 40%;
}

.aquisition{
  transform: translateY(-28%) translateX(0%) scale(0.45);
  width: 50%;
}

.para-container{
  height: 55rem;
  display: flex;
}

.para-pic{
  position: absolute;
  width: 60%;
  left: 0;
  top: 0;
  margin: 20%;
  margin-top: 0;
  margin-bottom: 0;
}

.mute-btn{
  position: fixed;
  bottom: 0;
  width: 6em;
  background-color:rgba(0, 0, 0, 0);
  margin: 1em;
  border: none;
  background: none;
}


.mute-btn:hover{
  opacity: 0.6;
  cursor: pointer;
}

.mute-btn:active{
  opacity: 1;
}

.mute-btn img{
  width: 100%;
}

.launcher{
  position: fixed;
  width: 25%;
  background-color:rgba(0, 0, 0, 0);
  border: none;
  transform: translateY(-0%);
  background: none;
  z-index: 100;
  background-color: rgb(46, 46, 81);
  padding-left: 37.5%;
  padding-right: 37.5%;
  padding-top: 300px;
  padding-bottom: 37.5%;
  transition: all 0.5s;
  top: 0;
  display: flex;
  justify-content: center;
  left: 0;
}

.launcher button{
  transition: all 0.25s;
  background-color:rgba(0, 0, 0, 0);
  border: 0;
  width: auto;
  opacity: 0.7;
}

.topBtn{
  bottom: 0;
  width: 10%;
  margin: 45%;
  margin-bottom: 5%;
  font-size: 2em;
  background-color:rgba(0, 0, 0,0);
  border: 0;
  letter-spacing: 0.12em;
  color:#cafe9b; 
  font-weight: 400;
  cursor: pointer;
}

.launcher button:hover{
  transform: translateY(-5%) scale(1.05);
  cursor: pointer;
  transition: all 0.25s;
  opacity: 1;
}

.launcher button:active{
  opacity: 0.0;
}

.launcher img{
  width: 100%;
}

.react-audio-element{
  background-color:#74925a;
  border-radius: 2em;
  padding: 2em;
  margin-top: 2em;
  box-shadow: 5px 5px 20px #00000030;
  z-index: 50;
  margin-bottom: 8em;
}

